<a href="https://colab.research.google.com/github/LuisaVALvarezS/CoderLab/blob/main/DatasetsLuisaAlvarez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

El conjunto de datasets que seleccioné está formado por datos de ventas de varias regiones y me gustaría establecer una relación entre las estaciones y los productos que más se compran en cada una. Me encantaría contar con información específica de Argentina pero no encontré nada al respecto. Espero que esto me sirva.

In [5]:
ventas1 = pd.read_csv('https://github.com/LuisaVALvarezS/CoderLab/blob/9e706a7d385222e002bdd2cff109c53d9dd7bf19/Supermart%20Grocery%20Sales.csv')

ParserError: ignored

In [12]:
ventas1.head()

,Ventas Detalladas 01-04-22 a 16-04-23,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Codigo,Descripcion,Fecha,Hora,Precio,Cant,Importe,Util,FP,Cliente,Rubro,Marca,Proveedor,Operador
1,0036,QUESO GOUDA VERONICA,2022/04/25,09:52,2056,0.495,1017.72,407.1375,E,Consumidor Final,FIAMBRERIA,VERONICA,BANYLAC,Administrador
2,7793281493045,HAMBURGUESA UNION GANADERA X2,2022/04/25,09:57,175,6,1050,420,E,Consumidor Final,FRESCOS,UNIÓN GANADERA,BANYLAC,Administrador
3,0022,QUESO BARRA PUNTA DEL AGUA,2022/04/25,10:01,1250,0.21,262.5,105,E,Consumidor Final,FIAMBRERIA,PUNTA DEL AGUA,BANYLAC,Administrador
4,0050,MORTADELA SELLO DE PLATA,2022/04/25,10:08,660,0.2,132,52.836,E,Consumidor Final,FIAMBRERIA,SELLO DE PLATA,BANYLAC,Administrador

In [14]:
ventas2 = pd.read_csv('Supermart Grocery Sales.csv')

In [16]:
ventas2.head()

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu

In [19]:
ventas3 = pd.read_excel('Ventas Detalladas.xls')

In [20]:
ventas3.head()

,Ventas Detalladas 01-04-22 a 16-04-23,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Codigo,Descripcion,Fecha,Hora,Precio,Cant,Importe,Util,FP,Cliente,Rubro,Marca,Proveedor,Operador
1,0036,QUESO GOUDA VERONICA,2022/04/25,09:52,2056,0.495,1017.72,407.1375,E,Consumidor Final,FIAMBRERIA,VERONICA,BANYLAC,Administrador
2,7793281493045,HAMBURGUESA UNION GANADERA X2,2022/04/25,09:57,175,6,1050,420,E,Consumidor Final,FRESCOS,UNIÓN GANADERA,BANYLAC,Administrador
3,0022,QUESO BARRA PUNTA DEL AGUA,2022/04/25,10:01,1250,0.21,262.5,105,E,Consumidor Final,FIAMBRERIA,PUNTA DEL AGUA,BANYLAC,Administrador
4,0050,MORTADELA SELLO DE PLATA,2022/04/25,10:08,660,0.2,132,52.836,E,Consumidor Final,FIAMBRERIA,SELLO DE PLATA,BANYLAC,Administrador

In [21]:
ventas4 = pd.read_csv('customer_shopping_data.csv')

In [22]:
ventas4.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon